@using ShopClient.Pages
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class ="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa fa-cart-shopping text-danger"></i>
            <span class="small text-danger fw-bold">1</span>
            <h6>
                Hello,
                <AuthorizeView>
                    <Authorized>
                        <span class="text-primary fw-bold"> @context.User.Identity!.Name</span>
                    </Authorized>
                    <NotAuthorized>
                        <span class="text-primary fw-bold">Guest</span>
                    </NotAuthorized>
                </AuthorizeView>
            </h6>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent" style="margin-left:25vw">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family:MyFont">
                <li class="nav-item" >
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-family:sans-serif">
                        <AuthorizeView>
                            <Authorized>
                                <li>
                                    <button class="btn btn-danger btn-none"> <i class="fa fa-lock-open"></i> Logout</button>
                                </li>
                            </Authorized>
                            <NotAuthorized>
                                @{
                                    string register = "register";
                                    string login = "login";
                                }
                                <li>
                                    <button class="btn btn-none" @onclick="()=> NavigateTo(login)"> <i class="fa fa-lock"></i> Login</button>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <button class="btn btn-none" @onclick="()=> NavigateTo(register)"> <i class="fa fa-sign-in"></i> Register</button>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>
                    </ul>
                </li>
            </ul>
            @if(ShowSearchIcon){
                <button @onclick="SearchIconClicked" class="btn btn-none">
                    <i class="fa fa-magnifying-glass fs-5" style="cursor:pointer"></i>
                </button>
            }else{
                <SearchComponent></SearchComponent>
            }
        </div>

    </div>
</nav>
@code{
    public bool ShowSearchIcon { get; set; } = true;
    void SearchIconClicked() {
        ShowSearchIcon=false;
    }
    private void NavigateTo(string url) {
        navManager.NavigateTo($"identity/account/{url}");
    }

}