<form class="d-flex" method="post" @onsubmit="SearchProduct">
    <AntiforgeryToken></AntiforgeryToken>
    <input class="form-control me-2" @bind="Filter" type="search" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

@code{
    public string Filter { get; set; } = string.Empty;
    void SearchProduct(){
        if(string.IsNullOrWhiteSpace(Filter)||string.IsNullOrEmpty(Filter))
            return;
        navManager.NavigateTo($"/products/filter/{Filter}", forceLoad: true);
    }
}